$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #8ED5D8;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
 
 }

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-bottom: 0;
    line-height: 40px;
    color: #fff;
    font-size: 24px;
    letter-spacing: 11px;
    font-weight: 100;
    margin-top: 30px;
}

.fan {
    font-size: 18px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 10px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/*joe's styles*/
input[placeholder] {
    vertical-align: bottom;
}


.task-font {
    font-weight: 200;
}

.task-view {
    height: 150px; 
    width: 100%;
}

.tasklist {
    color: #A8240B;
    margin-left: -20px;
}

.tasklist:hover {
    text-decoration: underline;
}

.new {
    background-color: #3FA4F3;
    color: #FFF;
    border-color: #5B92E4;
}

.new:hover {
    background-color: #84B5DB;
    color: #FFFFFF;
}

.save {
    margin-top: 50px;
    background-color: #3FA4F3;
    color: #FFF;
    border-color: #5B92E4;
}

.save:hover {
    background-color: #84B5DB;
    color: #FFFFFF;
}

.edit {
    margin-top: 30px;
    background-color: #3FA4F3;
    color: #FFF;
    border-color: #5B92E4;
}

.edit:hover {
    background-color: #84B5DB;
    color: #FFFFFF;
}

.delete, {
    margin-top: 30px;
    background-color: #3FA4F3;
    color: #fff;
}

.delete:hover{
    background-color: #E01414; 
    color: #fff;
}

.control-label {
    color: #A09C8F;

}

.sidebar, .main, .actions {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    margin-left: 10px;
    box-shadow: 4px 4px 1px 1px #70B8B8;
}
 
.sidebar {
    padding-top: 28px;
    min-height: 300px;
    width: 22%;
    border-radius: 0px 0px 0px 60px;
}

.sidebar p {
    text-align: center;
    margin-top: 15px;
    color: #A8240B;
    letter-spacing: 8px;
    font-weight: 100;
}
 
.main {
    min-height: 300px;
    width: 50%;
    
 
    .form {
        .content {
            min-height: 200px;
        };
    };
}

.main h1 {
    font-size: 24px;
    line-height: 50px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #A8240B;
    margin-bottom: 0;
}

.task-title {
    width: 100%
}

.task-content {
    width: 100%;
    height: 150px;
    margin-top: 10px;
}   

.actions {
    width: 22%;
    min-height: 300px;
    border-radius: 0px 0px 60px 0px;
}

.actions img {
    height: 45px;
    width: 45px;
}
#content {
    height: 160px;
    padding: 0px 0px 125px 5px;
}

#title {
    padding-left: 5px;
}

.glyphicon-pencil {
    margin-left: 10px;
}

.btn-block + .btn-block {
    margin-top: 40px;
}

#myoutercontainer {
    position: relative;
}

#myinnercontainer {
    position:absolute; 
    top:50%; 
    height:10em; 
    margin-top:-5em 
}